<footer>
  <p>
    This is my blog. I made it with
    <a href="https://github.com/futurepaul/my-own-personal-blog">my own static site generator</a>. Hit me up on my
    mobile.
    <a href="https://twitter.com/futurepaul">Or twitter</a>.
  </p>
</footer>
</body>

</html>